/*/target/*
/.idea/*
/*.log

/annoserver/.settings
/.project
/.settings/org.eclipse.m2e.core.prefs
/annoserver/.classpath
/annoserver/.factorypath
/annoserver/.project
/thrift/.classpath
/thrift/.factorypath
/thrift/.project
/thrift/.settings/org.eclipse.jdt.apt.core.prefs
/thrift/.settings/org.eclipse.jdt.core.prefs
/thrift/.settings/org.eclipse.m2e.core.prefs
/annoserver/annoserver.iml
/annosimulateclient/.project
/annosimulateclient/.settings/org.eclipse.m2e.core.prefs
/annosimulateclient/annosimulateclient.iml
/thrift-parent.iml
/thrift/thrift.iml
